<!-- bookinfo start -->
<div class="col-sm-9 col-lg-8">
  <div class="panel panel-default">
    <div class="panel-body small-padding">
      <img class="slide-img" src="{{ book.url }}" />
      <dl class="dl-horizontal info-list">
        <dt>
          <a href="#">{{ book.bookName }}</a>
        </dt>
        <dd>{{ book.price | currency:"CNY":"symbol-narrow":"1.2-2" }}</dd>
      </dl>
      <p class="info-list">{{ book.des }}</p>
      <!-- 评分 -->
      <app-star></app-star>
      <!-- 评分 -->
    </div>
  </div>
  <!-- bookinfo end -->
  <!-- comment start -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <form>
            <div class="form-group row">
              <div class="col-sm-6 col-lg-4">
                <label for="nikeName">昵称:</label>
                <input type="text" class="form-control input-sm" id="nikeName" placeholder="昵称">

              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6 col-lg-4">
                <label>评级:</label>
                <input type="hidden">
                <!-- 评分 -->
                <app-star></app-star>
                <!-- 评分 -->
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <label for="comment">评论:</label>
                <textarea class="form-control" id="comment" rows="3"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-2 col-sm-offset-10 col-lg-1 col-sm-offset-11">
                <button type="button" class="btn btn-sm btn-success">
                  <i class="glyphicon glyphicon-pencil"></i>
                  &nbsp;发表评论
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled comment-list">
            <li>
              <!-- 评分 -->
              <app-star></app-star>
              <!-- 评分 -->
            </li>
            <li>
              <div class="comment-msg">
                睡觉的体验有一种很难明说的规律，晚上到点了睡不着，白天闹钟响了又起不来， 上班上课时候发困，放假回家有满脸清醒，偶尔午睡还会越睡越困。 让我们先来回忆一下这些年有多少关于睡眠的小窍门被家长们疯狂转发吧：睡前不能洗澡；
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- comment end -->
</div>